/bin/confobs
/bin/

.env
*/.env
**/.env

.confobs-snapshot.json
confobs-snapshot.json

snapshot.json
server.log
*.snapshot.json

*.test
*.out
/vendor/

__pycache__/
*.pyc 

node_modules/
npm-debug.log*

.DS_Store
.vscode/
.idea/
*.swp

go.mod